.background {
  height: 390px;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgb(245, 93, 93),
    rgb(148, 20, 20),
    rgb(247, 35, 35),
    rgb(201, 36, 36)
  );
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  position: relative;
  top: 0;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.buttonssell {
  background-color: white;
  padding: 10px 128px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
}

.buttonssell:hover {
  background-color: black;
  color: white;
}

.buttonsbuy {
  background-color: white;
  padding: 10px 135px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.buttonsbuy:hover {
  background-color: black;
  color: white;
}

.sellcontainer {
  display: flex;
  position: absolute;
  bottom: -20px;
  left: 220px;
  width: 520px;
  height: 340px;
  background: linear-gradient(
    45deg,
    rgb(245, 93, 93),
    rgb(247, 35, 35),
    rgb(201, 36, 36)
  );
  border-radius: 13px;
}

.youtubecontainer {
  display: flex;
  position: absolute;
  top: 435px;
  left: 800px;
  width: 520px;
  height: 340px;
  background-image: url(https://carwow-uk-3.imgix.net/homepage/YoutubePlaceholder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 12px;
}

.youtubecontainer::before {
  content: "";
  display: block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
